<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Configuration Types</strong>
    </div>
    <div class="panel panel-default">
    <table class="table table-hover panel-body report">
        <thead>
            <tr class="table-headings">
                <th>Type</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Config</td>
                <td>
                    <a href="{% url 'plugins:nautobot_firewall_models:capircapolicy' pk=capirca_object.pk %}"><i class="mdi mdi-file-document-outline"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>