<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>NAT Policy Rule Expanded</strong>
            </div>
            <table class="table table-hover panel-body">
                {% include "nautobot_firewall_models/inc/natpolicyrule_tablehead.html" %}
                {% if object.nat_policy_rules %}
                    {% with rules=object.nat_policy_rules.all %}
                        {% for rule in rules %}
                            {% include "nautobot_firewall_models/inc/natpolicyrule_tablerow.html" with nat_rule=rule %}
                        {% endfor %}
                    {% endwith %}
                {% else %}
                    {% include "nautobot_firewall_models/inc/natpolicyrule_tablerow.html" with nat_rule=object %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
