<tr>
    <th style="border: 1px solid #ccc; vertical-align: bottom;" rowspan=3>Index</th>
    <th style="border: 1px solid #ccc; text-align: center;" colspan=6>Source</th>
    <th style="border: 1px solid #ccc; text-align: center;" colspan=5>Destination</th>
    <th style="border: 1px solid #ccc; vertical-align: bottom;" rowspan=3>Mode</th>
    <th style="border: 1px solid #ccc; vertical-align: bottom;" rowspan=3>Log</th>
</tr>
<tr>
    <th style="border: 1px solid #ccc;" colspan=2>Address</th>
    <th style="border: 1px solid #ccc;" rowspan=2>User</th>
    <th style="border: 1px solid #ccc;" rowspan=2>Zone</th>
    <th style="border: 1px solid #ccc;" colspan=2>Service</th>
    <th style="border: 1px solid #ccc;" colspan=2>Address</th>
    <th style="border: 1px solid #ccc;" rowspan=2>Zone</th>
    <th style="border: 1px solid #ccc;" colspan=2>Service</th>
</tr>
<tr>
    <th style="border: 1px solid #ccc;" >Original</th>
    <th style="border: 1px solid #ccc;" >Translated</th>
    <th style="border: 1px solid #ccc;" >Original</th>
    <th style="border: 1px solid #ccc;" >Translated</th>
    <th style="border: 1px solid #ccc;" >Original</th>
    <th style="border: 1px solid #ccc;" >Translated</th>
    <th style="border: 1px solid #ccc;" >Original</th>
    <th style="border: 1px solid #ccc;" >Translated</th>
</tr>