<tr>
    <th style="border: 1px solid #ccc; vertical-align: bottom;" rowspan=2>Index</th>
    <th style="border: 1px solid #ccc; text-align: center;" colspan=4>Source</th>
    <th style="border: 1px solid #ccc; text-align: center;" colspan=3>Destination</th>
    <th style="border: 1px solid #ccc; vertical-align: bottom;" rowspan=2>Action</th>
    <th style="border: 1px solid #ccc; vertical-align: bottom;" rowspan=2>Log</th>
</tr>
<tr>
    <th style="border: 1px solid #ccc;">Address</th>
    <th style="border: 1px solid #ccc;">User</th>
    <th style="border: 1px solid #ccc;">Zone</th>
    <th style="border: 1px solid #ccc;">Service</th>
    <th style="border: 1px solid #ccc;">Address</th>
    <th style="border: 1px solid #ccc;">Zone</th>
    <th style="border: 1px solid #ccc;">Service</th>
</tr>