{% load helpers %}

{% if user_group or user %}
  {% for i in user_group %}
    <i title="User Group Object" class="mdi mdi-account-multiple"></i> <a href="{{ i.get_absolute_url }}" title="{% for user_obj in i.user_objects.all %}{{ user_obj }}&#013;{% endfor %}">{{ i|placeholder }}</a><br/>
  {% endfor %}
  {% for i in user %}
    <i title="User Object" class="mdi mdi-account"></i> <a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>
  {% endfor %}
{% else %}
<span title="No User or UserGroup set, implicit any" data-toggle="tooltip">ANY</span>
{% endif %}