<tr>
    {% if parent_policy %}<th style="border: 1px solid rgb(79, 79, 79); vertical-align: bottom;" rowspan=2>Index</th>{% endif %}
    <th style="border: 1px solid rgb(79, 79, 79); text-align: center;" colspan=3>Source</th>
    <th style="border: 1px solid rgb(79, 79, 79); text-align: center;" colspan=3>Destination</th>
    <th style="border: 1px solid rgb(79, 79, 79); vertical-align: bottom;" rowspan=2>Action</th>
    <th style="border: 1px solid rgb(79, 79, 79); vertical-align: bottom;" rowspan=2>Log</th>
</tr>
<tr>
    <th style="border: 1px solid rgb(79, 79, 79);">Address</th>
    <th style="border: 1px solid rgb(79, 79, 79);">User</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Zone</th></th>
    <th style="border: 1px solid rgb(79, 79, 79);">Address</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Zone</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Service</th>
</tr>