{% load helpers %}

{% if application_group or application %}
  {% for i in application_group %}
    <i title="Application Group Object" class="mdi mdi-folder-cog"></i> <a href="{{ i.get_absolute_url }}" title="{% for svc_obj in i.application_objects.all %}{{ svc_obj }}&#013;{% endfor %}">{{ i|placeholder }}</a><br/>
  {% endfor %}
  {% for i in application %}
    <i title="Application Object" class="mdi mdi-cog"></i> <a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>
  {% endfor %}
{% else %}
  <span title="No Application or ApplicationGroup set{% if not nat %}, implicit any{% endif %}" data-toggle="tooltip">{% if nat %}—{% else %}ANY{% endif %}</span>
 {% endif %}
