{% load helpers %}
<tr>
    {% if rule.action == "remark" %}
        <td colspan="10" style="text-align: center;"><strong>{{ rule }}</strong></td>
    {% else %}
        <td>{% if rule.source_address_group.all %}{% for i in rule.source_address_group.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.source_address.all %}{% for i in rule.source_address.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.source_user_group.all %}{% for i in rule.source_user_group.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.source_user.all %}{% for i in rule.source_user.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.source_zone %}<a href="{{ rule.source_zone.get_absolute_url }}">{{ rule.source_zone|placeholder }}</a><br/>{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.destination_address_group.all %}{% for i in rule.destination_address_group.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.destination_address.all %}{% for i in rule.destination_address.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.destination_zone %}<a href="{{ rule.destination_zone.get_absolute_url }}">{{ rule.destination_zone|placeholder }}</a><br/>{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.service_group.all %}{% for i in rule.service_group.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
        <td>{% if rule.service.all %}{% for i in rule.service.all %}<a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a><br/>{% endfor %}{% else %}{{ None|placeholder }}{% endif %}</td>
    {% endif %}
    <td>{{ rule.action|placeholder }}</td>
    <td>{% if rule.log %}<span class="text-success"><i class="mdi mdi-check-bold"></i></span>{% else %}<span class="text-danger"><i class="mdi mdi-close-thick"></i></span>{% endif %}</td>
</tr>
