{% load helpers %}
<tr>
    {% if rule.action == "remark" %}
        <td colspan="6" style="text-align: center;"><strong>{{ rule }}</strong></td>
    {% else %}
        <td>{% include './policy_rule_address_object_row.html' with address=rule.source_address.all address_group=rule.source_address_group.all %}</td>
        <td>{% include './policy_rule_user_object_row.html' with user=rule.source_user.all user_group=rule.source_user_group.all %}</td>
        <td>{% include './policy_rule_zone_object_row.html' with zone=rule.source_zone %}</td>
        <td>{% include './policy_rule_address_object_row.html' with address=rule.destination_address.all address_group=rule.destination_address_group.all %}</td>
        <td>{% include './policy_rule_zone_object_row.html' with zone=rule.destination_zone %}</td>
        <td>{% include './policy_rule_service_object_row.html' with service=rule.service.all service_group=rule.service_group.all %}</td>
    {% endif %}
    <td>{% include './policy_rule_action_row.html' with action=rule.action %}</td>
    <td>
        {% if rule.log %}
            <span class="text-success"><i class="mdi mdi-check-bold"></i></span>{% else %}<span class="text-danger"><i class="mdi mdi-close-thick"></i></span>
        {% endif %}
    </td>
</tr>
