{% load helpers %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Assign Policy Weight to Device</strong>
            </div>
            {% if object.policydevicem2m_set.all %}
                <form action="{% url 'plugins:nautobot_firewall_models:policy_devices' pk=object.id %}" method="post" enctype="multipart/form-data" class="form form-horizontal">
                    {% csrf_token %}
                    <table class="table table-hover panel-body">
                        <tr>
                            <th>Weight</th>
                            <th>Device</th>
                        </tr>
                        <tbody>
                            {% for m2m in object.policydevicem2m_set.all %}
                                <tr>
                                    <td>
                                        <input id="device-weight-input{{ forloop.counter }}" type="number" name="{{ m2m.device.id }}" value="{{ m2m.weight }}"{% if not request.user|has_perms:device_weight_tab_perms %} disabled{% endif %}>
                                    </td>
                                    <td>
                                        {{ m2m.device }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if request.user|has_perms:device_weight_tab_perms %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                </form>
            {% else %}
                <div class="panel-body">
                    <span class="text-muted">No Devices assigned</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
