{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Address Object</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Description</td>
                <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
                <td>FQDN</td>
                <td>
                    {% if object.fqdn %}
                        <a href="{{ object.fqdn.get_absolute_url }}">{{ object.fqdn }}</a>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>IP Range</td>
                <td>
                    {% if object.ip_range %}
                        <a href="{{ object.ip_range.get_absolute_url }}">{{ object.ip_range }}</a>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>IP Address</td>
                <td>
                    {% if object.ip_address %}
                        <a href="{{ object.ip_address.get_absolute_url }}">{{ object.ip_address }}</a>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Prefix</td>
                <td>
                    {% if object.prefix %}
                        <a href="{{ object.prefix.get_absolute_url }}">{{ object.prefix }}</a>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td><span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">{{ object.get_status_display }}</span></td>
            </tr>
        </table>
    </div>
{% endblock %}