{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load buttons %}
{% load plugins %}
{% load fw_tags %}

{% block buttons %}
        {% plugin_buttons object %}
        {% if perms.nautobot_firewall_models.delete_aerleonpolicy %}
            {% delete_button object %}
        {% endif %}
{% endblock buttons %}

{% block content_left_page %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Aerleon Object <a href="{% url 'plugins:nautobot_firewall_models:aerleonpolicy_devicedetail' pk=object.device.pk %}"><i class="mdi mdi-file-document-outline"></i></a></strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <tr>
            <td>Configuration</td>
            <td><pre>{{ object.cfg|render_truncate|placeholder }}</pre></td>
        </tr>
        <tr>
            <td>Policy File</td>
            <td><pre>{{ object.pol|render_truncate|placeholder }}</pre></td>
        </tr>
        <tr>
            <td>Services File</td>
            <td><pre>{{ object.svc|render_truncate|placeholder }}</pre></td>
        </tr>
        <tr>
            <td>Network File</td>
            <td><pre>{{ object.net|render_truncate|placeholder }}</pre></td>
        </tr>
    </table>
</div>

{% endblock %}