{% extends 'base.html' %}
{% load buttons %}

{% block content %}

    <h1>Aerleon - {{ object.device }}</h1>
    <div class="panel panel-default" style="padding-bottom: 5px">
        <div style="padding-left: 10px">
            <div class="panel-heading"><strong>Aerleon Configuration</strong>
        </div>
        <pre>{{ object.cfg }}</pre>
        </div>
    </div>
    <div class="panel panel-default" style="padding-bottom: 5px">
        <div style="padding-left: 10px">
            <div class="panel-heading"><strong>Aerleon Policy</strong>
        </div>
        <pre>{{ object.pol }}</pre>
    </div>
</div>
    <div class="panel panel-default" style="padding-bottom: 5px">
        <div style="padding-left: 10px">
            <div class="panel-heading"><strong>Aerleon Networks</strong>
        </div>
        <pre>{{ object.net }}</pre>
    </div>
</div>
    <div class="panel panel-default" style="padding-bottom: 5px">
        <div style="padding-left: 10px">
            <div class="panel-heading"><strong>Aerleon Services</strong>
        </div>
        <pre>{{ object.svc }}</pre>
    </div>
{% endblock %}