{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Assign Policy Rule Index</strong>
            </div>
            <form action="{% url 'plugins:nautobot_firewall_models:policy_set_policy_rule_index' pk=object.id %}" method="post" enctype="multipart/form-data" class="form form-horizontal">
                {% csrf_token %}
                <table class="table table-hover panel-body">
                    {% include 'nautobot_firewall_models/inc/policyrule_tablehead.html' with parent_policy=True %}
                    {% for m2m in object.policyrulem2m_set.all %}
                    {% include 'nautobot_firewall_models/inc/policy_rules_tablerow_edit.html' with m2m=m2m parent_policy=True %}
                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>