<tr>
    <th style="border: 1px solid rgb(79, 79, 79); vertical-align: bottom;" rowspan=2>Index</th>
    <th style="border: 1px solid rgb(79, 79, 79); text-align: center;" colspan=7>Source</th>
    <th style="border: 1px solid rgb(79, 79, 79); text-align: center;" colspan=7>Destination</th>
    <th style="border: 1px solid rgb(79, 79, 79); vertical-align: bottom;" rowspan=2>Action</th>
    <th style="border: 1px solid rgb(79, 79, 79); vertical-align: bottom;" rowspan=2>Log</th>
</tr>
<tr>
    <th style="border: 1px solid rgb(79, 79, 79);">Address Object Groups</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Address Objects</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Service Object Groups</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Service Objects</th>
    <th style="border: 1px solid rgb(79, 79, 79);">User Object Groups</th>
    <th style="border: 1px solid rgb(79, 79, 79);">User Objects</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Zone</th></th>
    <th style="border: 1px solid rgb(79, 79, 79);">Address Object Groups</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Address Objects</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Service Object Groups</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Service Objects</th>
    <th style="border: 1px solid rgb(79, 79, 79);">User Object Groups</th>
    <th style="border: 1px solid rgb(79, 79, 79);">User Objects</th>
    <th style="border: 1px solid rgb(79, 79, 79);">Zone</th>
</tr>