{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_full_width_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Policy Rule Details</strong>
        </div>
        <table class="table table-hover panel-body">
            {% include 'nautobot_firewall_models/inc/policyrule_tablehead.html' %}
            {% include 'nautobot_firewall_models/inc/policyrule_tablerow.html' with rule=object %}
        </table>
    </div>
{% endblock content_full_width_page %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Description</strong>
        </div>
        <div class="panel-body">
            {% if object.description %}
                <span>{{ object.description }}</span>
            {% else %}
                <span class="text-muted">No description set</span>
            {% endif %}
        </div>
    </div>
{% endblock content_left_page %}

{% block content_right_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Assigned To Policies</strong>
        </div>
        <div class="panel-body">
            {% if object.policies.exists %}
                <ul>
                    {% for i in object.policies.all %}
                        <li><a href="{{ i.get_absolute_url }}">{{ i|placeholder }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="text-muted">Not </span>
            {% endif %}
        </div>
    </div>
{% endblock content_right_page %}

{% block javascript %}
    {{ block.super }}
    <script>$("span[data-toggle='tooltip']").tooltip()</script>
{% endblock %}
